PyQt5==5.15.9
opencv-python==4.8.1.78
qrcode[pil]==7.4.2
Pillow==10.0.1
cryptography==41.0.7
pyzbar==0.1.9
numpy==1.26.4
tensorflow==2.13.0
mtcnn==0.1.1
facenet-pytorch==2.5.3
torch==2.0.1
torchvision==0.15.2
openpyxl==3.1.2